body {
  background-image: url(../img/mosaic/mosaic.png);
}

.logo {
  font-family: 'Peralta', cursive;
}

.logo a {
  color: rgba(220,20,60,.9);
}

.logo a:hover,
.logo a:active {
  text-decoration: none;
}